:root {
  --dark-bg-color: #121212;
  --levelOne-bg-color: rgba(255, 255, 255, 0.05);
  --levelTwo-bg-color: hsla(0, 0%, 100%, 0.078);
  --strokes-color: rgba(255, 255, 255, 0.2);
}

#root {
  max-width: 900px;
  margin: 0 auto;
}

.graphic {
  background-color: var(--levelOne-bg-color);
  margin-bottom: 20px;
  padding: 20px;
}

.chartHeader {
  font-size: 0.6rem;
  background-color: var(--levelTwo-bg-color);
  width: 100%;
  padding: 12px 22px;
  color: #fff;
  margin-bottom: 2px;
  margin-top: 50px;
}

.chartFooter {
  font-size: 0.7rem;
  font-weight: 300;
  background-color: var(--levelTwo-bg-color);
  width: 100%;
  color: #fff;
  padding: 50px;
}

.tick line {
  stroke: var(--strokes-color);
}

.tick text {
  font-size: 0.6em;
  font-weight: 200;
  fill: var(--strokes-color);
  text-transform: capitalize;
  cursor: pointer;
}

.axis-lable {
  color: var(--strokes-color);
  font-weight: 200;
}

.Dropdown-root {
  width: 200px;
  font-size: 0.6em;
  margin-right: 22px;
}

.chartDropdown {
  display: flex;
  padding: 12px 22px;
  align-items: baseline;
}

.dropdown-label {
  margin-right: 6px;
}

/* 
Bubblemap
*/
g.district {
  fill: #303030;
}

path.interiors {
  stroke: var(--strokes-color);
}
